/* Header Styles */

.header-bar{
  display: flex;
  flex-direction: row;
  justify-content:space-between;
  align-items: center;
  padding-inline: 2%;
  padding-block: 8px;
  background-color: #333;
  color: #fff;
  border-radius: 12px 12px 0 0;
}


  /* Hamburger Icon Styles */
  .hamburger {
    font-size: 32px;
    cursor: pointer;
    padding: 10px;
    top: 10px;
    left: 10px;
  }

  .pencil{
    font-size:20px ;
    cursor: [pointer];
    margin-right: 10px;
  }