/* Header Styles */

.header-bar{
  display: flex;
  flex-direction: row;
  justify-content:space-between;
  align-items: center;
  padding-inline: 2%;
  padding-block: 8px;
  background-color: #333;
  color: #fff;
}

.nav-link-box{
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
}

.nav-link{
  font-size: 16px;
  font-weight: 600;
  /* font-family:fantasy; */
  color: #ffffff;
  padding: 4px;
  margin: 4px;
}
 
  .sidebar.open {
    width: 250px;
    top: 8%;
    left: 10;
    position: fixed;
    height: 60%;
    background-color: #404040;
    color: #ffffff;
    transform: translateY(0%);
    transition: transform 2s ease;
    z-index: 10;
    padding: 16px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    border-radius: 4px;
    border-style: solid;
    border-width: 2px;
    border-color: antiquewhite;
  } 
  
  
  .sidebar h3 {
    margin-top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    font-family:fantasy;
    font-weight: 900;
    margin: 0;
  }
  
  .sidebar ul {
    list-style-type: none;
    padding: 0;
    margin-block: 0px;
  }
  
  .sidebar li {
    width:94%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    margin-inline: 10px;
    font-size: large;
    font-weight: 600;
    color: #fff;
  }

  
  .sidebar button {
    background-color: #eeeeee;
    color: rgb(26, 26, 26);
    border: none;
    padding-block: 4px;
    padding-inline: 8px;
    cursor: pointer;
    border-radius: 4px;
    margin-inline: 5px;
  }

  .close-button-box{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding-inline: 0px;
  }
  
  .close-sidebar-button {
    background-color: #fff;
    color: rgb(49, 49, 49);
    width: 20%;
    padding-block: 2px;
    padding-inline: 8px;
    border-width: 2px;
    border: solid;
    border-color: #4b4b4b;
    border-radius: 8px;
    cursor: pointer;
    margin-top: 0px;
  }

  .model-selector{
    display: flex;
    flex-direction: row;
    justify-content:flex-start;
    align-items: center;
    padding-inline: 4px;
    padding-block: 8px;
    background-color:#303030;
    color: #fff;
  }
  
  .model-selection{
    background-color: #333;
    color: #fff;
    padding: 6px;
    border-radius: 8px;
    width: 60%;
    font-size: 12px;
  }
  
  .model-selection-option{
    font-style: normal;
  }
  
  /* Hamburger Icon Styles */
  .hamburger {
    font-size: 32px;
    cursor: pointer;
    padding: 10px;
    top: 10px;
    left: 10px;
  }

  .pencil{
    font-size:22px ;
    cursor: [pointer];
    margin-right: 10px;
  }