
.chatbot {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 90vh;
    overflow: hidden;
}

/* // MESSAGES */
.messages {
    flex: 1;
    padding: 10px;
    overflow-y: auto;
    position:relative;
  }
  
  .input-bar {
    display: flex;
    border-top: 0px solid #ccc;
  }
  
  .input-bar textarea {
    flex: 9;
    padding: 10px;
    border: none;
    font-size: large;
    background-color: #333;
    color: #ccc;
    border-radius: 24px;
  }
  
  .input-bar button {
    padding: 10px;
    flex: 1;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 24px;
  }
  
  .chat-message {
    padding: 8px 0px;
    margin: 6px 0;
    border-radius: 8px;
    max-width: 80%;
  }
  
  .chat-content{
    display: flex;
    flex-direction: row;
    
  }
  
  .chat-message.user {
    align-self: flex-end;
    background-color: #007bff;
    max-width: 80%;
    text-align: left;
    color: #fff;
    margin-left: 20%;
    border-radius: 12px;
  }
  
  .chat-message.bot {
    align-self: flex-start;
    
    color: #333;
    text-align: left;
    max-width: 94%;
    
  }

  /* .floating-button-box{
    position: sticky;
    top: 20px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: end;
    background: rgba(3, 172, 240, 0.2);

    z-index: 10;
  } */

  .floating-save-button {
    background-color: #007bff;
    position:absolute;
    bottom: 100px;
    right: 20px;
    color: #333;
    border: none;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    font-size: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    /* box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); */
  }

  @media (min-width: 600px) {
    .floating-save-button{
        position: relative;
        bottom: 0px;
        right: 0px;
        width: auto;
        height: auto;
    }
  }

  .modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
  }
  
  .modal-content {
    background-color: #212121;
    padding: 20px;
    border-radius: 8px;
    width: 300px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
    color: #fff;
  }