
   
    .sidebar.open {
      width: 340px;
      top: 8%;
      left: 10;
      position: fixed;
      height: 80%;
      background-color: #404040;
      color: #ffffff;
      transform: translateY(0%);
      transition: transform 2s ease;
      z-index: 10;
      padding: 16px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: start;
      border-radius: 0px 24px 24px 0px;
      border-style: dotted;
      border-width: 1px;
      border-color: antiquewhite;
      overflow-y:auto;
      overflow-x: hidden;
    } 

    .sidebar.open-full{
      width: 320px;
      top: 8%;
      left: 1px;
      position: fixed;
      height: 80%;
      background-color: #404040;
      color: #ffffff;
      transform: translateY(0%);
      transition: transform 2s ease;
      z-index: 10;
      padding: 16px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: start;
      border-radius: 0px 0px 0px 0px;
      border-style: dotted;
      border-width: 1px;
      border-color: antiquewhite;
      overflow-y:auto;
      overflow-x: hidden;
    }
    
    .sidebar-title{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        font-family: fantasy;
        font-weight: 900;

    }
    
    .sidebar h3 {
      margin-top: 0;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: start;
      font-family:fantasy;
      font-weight: 700;
      margin: 0;
      font-size: 16px;
    }
    

    .nav-link-box{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 4px
      }
      
      .nav-link{
        border-width: 1px;
        border-style: solid;
        border-radius: 16px;
        border-color: #515050;
        background-color: #515050;
        box-shadow: 2px 2px 2px 2px #303030;
        font-size: 16px;
        font-weight: 600;
        color: #ffffff;
        padding-inline: 16px;
        padding-block: 20px;
        margin: 4px;
        text-decoration: none;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
      }

      .nav-link:hover{
        scale: 1.1;
      }
    
    .sidebar ul {
      list-style-type: none;
      padding: 0;
      margin-block: 0px;
    }
    
    .sidebar li {
      width:90%;
      display: flex;
      justify-content: space-between;
      margin-bottom: 12px;
      margin-inline: 12px;
      font-size: large;
      font-weight: 300;
      color: #fff;
    }
  
    
    .sidebar button {
      background-color: #515050;
      color: rgb(255, 255, 255);
      box-shadow: 2px 2px 2px 2px #303030;
      border: none;
      padding-block: 4px;
      padding-inline: 8px;
      cursor: pointer;
      border-radius: 4px;
      margin-inline: 5px;
    }
  
    .model-selector-box{
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: start;
      align-items: start;
      padding-inline: 0px;
      margin-inline: 0 ;
      font-size: 16px;

    }
  

    .model-selection{
      color: #fff;
      padding-inline: 12px;
      padding-block: 4px;
      margin: 4px;
      border-radius: 12px;
      font-size: 10px;
      background-color: #515050;
      box-shadow: 2px 2px 2px 2px #303030;
    }

    .model-selection-selected{
      background-color: #b2ff59;
      color: #232323;
      padding-inline: 12px;
      padding-block: 4px;
      margin: 4px;
      border-radius: 12px;
      font-size: 10px;
      box-shadow: 2px 2px 2px 2px #303030;
    }
    
    .footer-box{
      display: flex;
      width: 90%;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      background-color: #515050;
      margin-inline: 0px;
      margin-top: 8%;
      margin-bottom: 4%;
      padding-inline: 20px;
      padding-block: 8px;
      border-radius: 24px;
      box-shadow: 2px 2px 2px 2px #303030;

    }
    .brand-box{
      display: flex;
      flex-direction: row;
      justify-content: start;
      align-items: center;
    }
    .free-box{
      border-radius: 40px;
      background-color: #9ff939;
      padding-inline: 12px ;
      padding-block: 4px ;
      color: #232323;
    }