/* App.css */
.App {
  font-family: Arial, sans-serif;
  max-width: 600px;
  margin: 0 auto;
  text-align: center;
  color: #ccc;
  border-width: 2px;
  border-color: azure;
  border-style:dashed;
  border-radius: 24px;
}

.title {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}




