/* App.css */
.App {
  font-family: Arial, sans-serif;
  max-width: 600px;
  margin: 0 auto;
  text-align: center;
  color: #ccc;
}

.title {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.chatbot {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  border: 1px solid #ccc;
  border-radius: 8px;
  overflow: hidden;
  background-color: #333;
 

}

.model-selector{
  display: flex;
  flex-direction: row;
  justify-content:space-between;
  align-items: center;
  padding-inline: 4px;
  padding-block: 8px;
  background-color:#007bff;
  color: #fff;
}

.model-selection{
  background-color: #333;
  color: #fff;
  padding: 6px;
  margin-inline: 4px;
  border-radius: 8px;
  width: 40%;
  font-size: 12px;
}

.model-selection-option{
  font-style: normal;
}

.messages {
  flex: 1;
  padding: 10px;
  overflow-y: auto;
  position:relative;
}

.input-bar {
  display: flex;
  border-top: 1px solid #ccc;
}

.input-bar textarea {
  flex: 9;
  padding: 10px;
  border: none;
  font-size: large;
}

.input-bar button {
  padding: 10px;
  flex: 1;
  background-color: #007bff;
  color: #fff;
  border: none;
}

.chat-message {
  padding: 8px 12px;
  margin: 6px 0;
  border-radius: 8px;
  max-width: 80%;
}

.chat-content{
  display: flex;
  flex-direction: row;
  
}

.chat-message.user {
  align-self: flex-end;
  background-color: #007bff;
  max-width: 80%;
  text-align: left;
  color: #fff;
  margin-left: 20%;
  border-radius: 12px;
}

.chat-message.bot {
  align-self: flex-start;
  color: #333;
  text-align: left;
  max-width: 80%;
  
}